<div id="dashboard-main" [ngStyle]="{'position': newRecordModalActive? 'fixed' : 'initial'}">
    <div id="dashboard-controls">
        <button id="dashboard-bttn-add" (click)="openNewRecordModal()" [disabled]="selectionMode? 'disabled' : ''">New 
            <img src="../../../assets/img/add_FILL0_wght400_GRAD0_opsz48.svg" alt="add">
        </button>
        <button id="dashboard-bttn-sel" (click)="selectionClick()"> 
            <img *ngIf="!selectionMode" src="../../../assets/img/check_box_outline_blank_FILL0_wght400_GRAD0_opsz48.svg" alt="delete">
            <img *ngIf="selectionMode" src="../../../assets/img/check_box_FILL0_wght400_GRAD0_opsz48.svg" alt="delete">
        </button>
        <button *ngIf="selectionMode" id="dashboard-bttn-del" (click)="deleteSelectedRecords()" 
        [disabled]="selectionMode && selectedKeys.size > 0 ? '' : 'disabled'">Delete 
            <img src="../../../assets/img/delete_forever_FILL0_wght400_GRAD0_opsz48.svg" alt="delete">
        </button>
    </div>

    <div id="dashboard-list">
        <div #thisEl *ngFor="let record of records; index as i" [ngStyle]="{'background-color': record.color + '55', '--user-color': record.color}" 
        (click)="listClick(thisEl, record.key)">
            <span class="item-header-span" [ngStyle]="{'background-color': record.color}"></span>
            <h3>{{record.title}}</h3>
            <ol>
                <li *ngFor="let item of record.items; index as j" [class]="item.isComplete? 'item-done': ''">
                    <span>{{item.name}}</span>
                </li>
            </ol>
        </div>
    </div>
</div>

<div id="dashboard-new-list" class="frosted-bg" *ngIf="newRecordModalActive">
    <h2>
        New List
        <span (click)="closeNewRecordModal()">
            <img src="../../../assets/img/close_FILL0_wght400_GRAD0_opsz48.svg" alt="">
        </span>
    </h2>    
    <div id="dashboard-new-list-form">
        <label for="new-list-name">Name</label>
        <input type="text" id="new-list-name" [(ngModel)]="newRecord.title" autocomplete="disabled" />

        <label for="new-list-color">Colour</label>
        <div id="new-list-color">
            <label *ngFor="let c of colors">
                <input class="color" name="new-list-color" type="radio" [(ngModel)]="newRecord.color" [value]="c" [ngStyle]="{'--select-color': c}"  />
            </label>
        </div>
        <label for="new-list-name">Items</label>
        <div *ngIf="hasItemErrors">
            <p class="error-text">Error: List items cannot be empty</p>
        </div>
        <div id="new-list-items">
            <div *ngFor="let item of newRecord.items; index as i;" class="new-list-item">
                <input type="text" [(ngModel)]="newRecord.items[i].name" autocomplete="disabled" (change)="validateTextInput(newRecord.items[i].name)" required>
                <h2>
                    <span (click)="deleteItem(i)">
                        <img src="../../../assets/img/remove_FILL0_wght400_GRAD0_opsz48.svg" alt="delete">
                    </span>
                </h2>
            </div>
            <div id="new-list-items-add" class="new-list-item">
                <input name="input" type="text" id="new-list-items-add-input" placeholder="New item" autocomplete="disabled" #newItemName>
                <h2>
                    <span (click)="addItem(newItemName.value);newItemName.value=''">
                        <img src="../../../assets/img/add_FILL0_wght400_GRAD0_opsz48.svg" alt="add">
                    </span>
                </h2>
            </div>            
        </div>

        <div>
            <button (click)="createRecord()">Create</button>
            <button (click)="closeNewRecordModal()">Cancel</button>
        </div>
    </div>
</div>

<br><br><br><br>

<div id="dashboard-new-list-cover" *ngIf="newRecordModalActive" (click)="closeNewRecordModal()"></div>


