/* 
#40414F 
*/

div#home-main {
    max-width: max-content;
    padding: 20px;
}

div#home-main > h1 {
    font-size: 8vw;
    margin: 0;
}

div#home-main a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

div#home-main a#register {  
    font-size: 30px;  
    background-color: var(--accent-blue);
    padding: 5px 10px;
    border-radius: 10px;
}


